body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  #main-content{

  }

}

#timer-display{
  width: 100%;
  margin: auto;
  font-size: 5em;
  text-align: center;
  //border: 2px solid #ccc;

}

footer{
  border-top: 1px solid #ccc;
  margin-top: 1%;

}